<!DOCTYPE html>
<html>
    <head>
        <title>{{ root }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdn.bavix.ru/bootstrap/next/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.bavix.ru/font-awesome/latest/css/font-awesome.min.css" />
    </head>
    <body>
        <ul class="list-group">
            {% block content %}{% endblock %}
        </ul>
    </body>
</html>
