<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdn.bavix.ru/bootstrap/next/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.bavix.ru/font-awesome/latest/css/font-awesome.min.css" />

        <link rel="apple-touch-icon" sizes="57x57" href="/f/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/f/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/f/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/f/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/f/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/f/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/f/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/f/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/f/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/f/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/f/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/f/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/f/favicon-16x16.png">
        <link rel="manifest" href="/f/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <style>
            .container {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            li.list-group-item:nth-child(2n + 1) {
                background: #f9f9f9;
            }
        </style>
    </head>
    <body>
        <div class="container">

            <ol class="breadcrumb">
                {% set path = '/' %}
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active">{{ breadcrumb | default('Home') }}</li>
                    {% else %}
                        {% if not loop.first %}

                            {% if path == '/' %}
                                {% set path = path ~ breadcrumb %}
                            {% else %}
                                {% set path = path ~ '/' ~ breadcrumb %}
                            {% endif %}

                        {% endif %}
                        <li class="breadcrumb-item"><a href="{{ path }}">{{ breadcrumb | default('Home') }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>

            <ul class="list-group">
                {% block content %}{% endblock %}
            </ul>
        </div>
    </body>
</html>
